*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

docker-compose.logs

main
./load-test/target/gatling/*

./observability/grafana/grafana-readonly/*
!./observability/grafana/grafana-readonly/.gitkeep

./nginx/logs/*
!./nginx/logs/.gitkeep
